[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipython = "*"
scipy = "*"
pandas = "*"
toolz = "*"
matplotlib = "*"
pyqt5 = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
