-i https://pypi.org/simple
asttokens==2.0.5
backcall==0.2.0
cycler==0.11.0; python_version >= '3.6'
decorator==5.1.1; python_version >= '3.5'
executing==0.8.3
fonttools==4.33.3; python_version >= '3.7'
ipython==8.4.0
jedi==0.18.1; python_version >= '3.6'
kiwisolver==1.4.3; python_version >= '3.7'
matplotlib-inline==0.1.3; python_version >= '3.5'
matplotlib==3.5.2
numpy==1.22.4
packaging==21.3; python_version >= '3.6'
pandas==1.4.2
parso==0.8.3; python_version >= '3.6'
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
pillow==9.1.1; python_version >= '3.7'
prettytable==3.3.0
prompt-toolkit==3.0.29; python_full_version >= '3.6.2'
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.12.0; python_version >= '3.6'
pyparsing==3.0.9; python_full_version >= '3.6.8'
pyqt5-qt5==5.15.2
pyqt5-sip==12.11.0; python_version >= '3.7'
pyqt5==5.15.7
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2022.1
scipy==1.8.1
setuptools==62.6.0; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
stack-data==0.3.0
toolz==0.11.2
traitlets==5.3.0; python_version >= '3.7'
wcwidth==0.2.5
